[*.{fs,fsx}]
fsharp_newline_between_type_definition_and_members = false
fsharp_multi_line_lambda_closing_newline = true
fsharp_bar_before_discriminated_union_declaration = true
fsharp_multiline_bracket_style = stroustrup
fsharp_newline_before_multiline_computation_expression = false
fsharp_experimental_elmish = true